<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
    <appSettings>
      <add key="tradeserver1" value="103.40.209.24:443;1004;jjxmut5u" />
      <!--<add key="tradeserver2" value="103.40.209.24;1004;jjxmut5u" />-->
      
      <add key="ExcludedUser" value="1014" />
      <add key="ExcludedGroup" value="demo\demoNANO_EUR" />
      <add key="StartDate" value="2019-05-10" />
      <add key="EndDate" value="2040-05-10" />


      
    </appSettings>


</configuration>

